<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Tour Your Destination</title>
    <link rel="icon" type="image/png" href="../static/img/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <!-- css -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../static/css/fancybox/jquery.fancybox.css" rel="stylesheet">
    <link href="../static/css/jcarousel.css" rel="stylesheet" />
    <link href="../static/css/flexslider.css" rel="stylesheet" />
    <link href="../static/js/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="../static/css/blog_form.css">
</head>

<body>
    <div id="wrapper">
        <!-- start header -->
        <header>
            <div class="navbar navbar-default navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                        <a class="navbar-brand" href="{{ url_for('index') }}"><img style="height: 50px; width: 180px;" src="../static/img/black-logo.png" alt="logo" /></a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="{{ url_for('index')}}">Home</a></li>
                            <li><a href="{{ url_for('allBlog')}}">Blogs</a></li>
                            <li><a href="{{ url_for('about') }}">About Us</a></li>
                            <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
                            {% if 'username' in session %}
                            <li><a href="{{ url_for('userDashboard')}}">hi, {{session['username'] }}</a></li>
                            <li><a href="{{ url_for('logout')}}">Logout</a></li>
                            {% else %}
                            <li><a href="{{ url_for('login') }}">Sign Up</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <!---header end-->
        <div class="container">
            <div class="main">
                <form action="{{ url_for('blog') }}" method="POST">
                    <div class="form">
                        <textarea type="" class="box title" name="title" placeholder="Enter Title Here...." required></textarea>
                    </div>
                    <br>
                    <div class="form">
                        <input type="date" name="date" class="box" required="required" title="" />
                    </div>
                    <br>
                    <div class="form">
                        <textarea type="text" class="box title" rows="10" cols="30" name="content" placeholder="Write Blog Here..." required></textarea>
                    </div>
                    <br>
                    <div class="form">
                        <button type="submit">Publish</button>
                    </div>
                </form>
            </div>
        </div>
        <footer>
            <div class="container ">
                <div class="row ">
                    <div class="col-lg-4 ">
                        <div class="widget ">
                            <h5 class="widgetheading ">Our Contact</h5>
                            <address>
					<strong>GLA University</strong><br>
					<address>
						17km Stone, NH-2, <br>
						Mathura-Delhi Road P.O. Chaumuhan, <br>
						Mathura-281406<br>
						</address>
                            <p>
                                <i class="icon-phone "></i> +91 12345 67891<br>
                                <i class="icon-envelope-alt "></i> info@touryourdestination.in </p>
                        </div>
                    </div>
                    <div class="col-lg-4 ">
                        <div class="widget ">
                            <h5 class="widgetheading ">Quick Links</h5>
                            <ul class="link-list ">
                                <li><a href="#">Terms and conditions</a></li>
                                <li><a href="#">Privacy policy</a></li>
                                <li><a href="{{ url_for('allBlog')}}">Testimonials</a></li>
                                <li><a href="{{ url_for('about')}}">About Us</a></li>
                                <li><a href="{{ url_for('contact')}}">Contact us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 ">
                        <div class="widget ">
                            <h5 class="widgetheading ">Location</h5>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3535.6077311938607!2d77.59113581458939!3d27.605688682834053!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39736ce47bffc039%3A0xfe5fc3da92c6341!2sGLA%20University!5e0!3m2!1sen!2sin!4v1638731678952!5m2!1sen!2sin"
                                width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sub-footer ">
                <div class="container ">
                    <div class="row ">
                        <div class="col-lg-6 ">
                            <div class="copyright ">
                                <p>
                                    <span>&copy; Tour Your Destination, All right reserved. </span>
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6 ">
                            <ul class="social-network ">
                                <li><a href="# " data-placement="top " title="Facebook "><i class="fa fa-facebook "></i></a></li>
                                <li><a href="# " data-placement="top " title="Twitter "><i class="fa fa-twitter "></i></a></li>
                                <li><a href="# " data-placement="top " title="Linkedin "><i class="fa fa-linkedin "></i></a></li>
                                <li><a href="# " data-placement="top " title="Pinterest "><i class="fa fa-pinterest "></i></a></li>
                                <li><a href="# " data-placement="top " title="Google plus "><i class="fa fa-google-plus "></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
    <!-- javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/jquery.easing.1.3.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery.fancybox.pack.js"></script>
    <script src="../static/js/jquery.fancybox-media.js"></script>
    <script src="../static/js/portfolio/jquery.quicksand.js"></script>
    <script src="../static/js/portfolio/setting.js"></script>
    <script src="../static/js/jquery.flexslider.js"></script>
    <script src="../static/js/animate.js"></script>
    <script src="../static/js/custom.js"></script>
    <script src="../static/js/owl-carousel/owl.carousel.js"></script>
</body>

</html>